.wrapper {
  background-color: rgb(51, 51, 153);
  padding: 10px 0 10px;
  box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}
.search-form {
  position: relative;

  &:focus {
    border: none;
  }

  &__button {
    position: absolute;
    right: 0;
    border: none;
    padding: 7px;
    height: 32px;
    border-radius: 0px 5px 5px 0px;
  }

  &__input {
    outline: none;
    padding: 5px 10px 5px 10px;
    width: 350px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid transparent;
    &:focus {
      border-color: rgb(30, 144, 255);
    }
  }
}
