.wrapper {
  background-color: rgb(51, 51, 153);
  padding: 10px 0 10px;
  box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  position: fixed;
}
.search-form {
  position: relative;

  &:focus {
    border: none;
  }

  &__button {
    position: absolute;
    right: 0;
    cursor: pointer;
    border: none;
    padding: 5px;
    height: 30px;
    border-radius: 0px 5px 5px 0px;
    border: 2px solid transparent;
  }

  &__input {
    outline: none;
    padding: 5px 10px 5px 10px;
    width: 350px;
    border-radius: 5px;
    border: 1px solid transparent;
    height: 30px;
    &:focus {
      border: 2px solid rgb(30, 144, 255);
    }
  }

  &__input:focus + &__button {
    border: 2px solid rgb(30, 144, 255);
    border-left: 0;
  }
}
