.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  padding: 25px;
}

.photo-card {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 5px 5px;
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  padding: 10px;
}

.card-image {
  flex-grow: 1;
  max-width: 100%;
  display: block;
  height: auto;
  box-sizing: border-box;
}

.info-item {
  text-align: center;
  &__title {
    margin-bottom: 10px;
    display: inline-block;
  }
}
